<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="D20Dice" version="9.1" targetFramework="net46" />
  <package id="D20Dice.Bootstrap" version="7.1" targetFramework="net46" />
  <package id="Ninject" version="3.2.2.0" targetFramework="net45" />
  <package id="NUnit" version="2.6.4" targetFramework="net45" />
</packages>